html{
    scroll-behavior: smooth;
    box-sizing:border-box;
    background-color: black;
}

:root{
    --navy: #2b6777;
    --smoke-blue: #c8d8e4;
    --white: #ffffff;
    --greenish-blue: #52ab98;

}
* {
    margin: 50;
    padding: 40;
}

a {
    text-decoration: none;
    color: var(--smoke-blue);
}

#projects a{
    color: black;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
}

.nav {
    z-index: 999;
}

.navList a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
}

.navList a:hover{
    background-color: var(--greenish-blue);
}

#welcome-section{
    background-color: var(--smoke-blue);
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
#welcome-section h1 {
  font-size: 2.1rem;
  font-weight: 200;
  font-style: bold;
  z-index: 1;

}

#welcome-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#welcome-section:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--navy), transparent);
    z-index: 1;
}
#welcome-section:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--navy);
    mix-blend-mode: color;
    z-index: 1;
}

#intro-text{
    position: relative;
    color: white;
    font-family: "Poppins", sans-serif;
    z-index: 1;
}

#road {
    z-index: 2;
}

#projects{
    background-color: var(--navy);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 180vh;
    width: 100%;
}

#projects h1{
    text-decoration-line: underline;
    color: var(--greenish-blue);
}

#projects img{
    border-radius: 25px;
    border-style: solid;
}

.project-tiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-details {
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
  }
  
  .project-details:hover {
    transform: translateY(8px);
  }

#contact{
    background-color: var(--smoke-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40vh;
    
}
#contact h1 {
    text-decoration: underline;
}
.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }

  .contact-details {
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }

figcaption{
    font-size: 26px;
    border-style: solid;
    border-radius: 40px;
    padding: 5px;
    background-color: var(--greenish-blue);
}
h1 {
    font-size: 36px;
}

p {
    font-size: 26px;
}

#profile-link{
    color: var(--white);
    font-size: 26px;
    padding: 15px;
    border-style: solid;
    border-radius: 40px;
    background-color: var(--greenish-blue);
    margin: 10px;
}

footer{
    padding: 2rem;
    text-align: center;
    background-color: var(--smoke-blue);
    color: var(--greenish-blue);
    font-size: 15px;
}

ul {
    display: flex;
    list-style-type: none;
}

figure {
    margin: 2rem;
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}