html{
    scroll-behavior: smooth;
    box-sizing:border-box;
    background-color: var(white);
}

:root{
    --navy: #2b6777;
    --smoke-blue: #c8d8e4;
    --white: #ffffff;
    --greenish-blue: #52ab98;

}
* {
    margin: 50;
    padding: 40;
}

a {
    text-decoration: none;
    color: var(--smoke-blue);
}

#projects a{
    color: black;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
}

.nav {
    z-index: 999;
}

.navList a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
}

.navList a:hover{
    background-color: var(--greenish-blue);
}

#welcome-section{
    background-color: var(--smoke-blue);
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
#welcome-section h1 {
  font-size: 2.1rem;
  font-weight: 200;
  font-style: bold;
  z-index: 1;

}

#welcome-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#welcome-section:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--navy), transparent);
    z-index: 1;
}
#welcome-section:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--navy);
    mix-blend-mode: color;
    z-index: 1;
}

#intro-text{
    position: relative;
    color: white;
    font-family: "Poppins", sans-serif;
    z-index: 1;
}

#road {
    z-index: 2;
}

#projects{
    background-color: var(--navy);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 180vh;
    width: 100%;
}

#projects h1{
    color: var(--greenish-blue);
}

#projects img{
    border-radius: 25px;
    border-style: solid;
}

.project-tiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-details {
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
  }
  
  .project-details:hover {
    transform: translateY(8px);
  }

  .box {
    margin-top: 25px;
    position: relative;
    width: 400px;
    height: 400px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    overflow: hidden;
}

.box:before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #00ccff,#d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.box:hover:before {
    inset: -20px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box:after {
    content: '';
    position: absolute;
    inset: 6px;
    background: var(--smoke-blue);
    border-radius: 50%;
    z-index: 1;
}

.box-content {
    position: absolute;
    inset: 30px;
    border: 6px solid rgba(0,0,0,0.5);
    background: linear-gradient(315deg, #00ccff,#d400d4);
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.box-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.box:hover .box-content img {
    opacity: 0;
}

.box-content h2 {
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    color: var(--white);
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
}

.box-content h2 span {
    font-weight: 300;
    font-size: 0.75em;
}

#contact{
    background-color: var(--smoke-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 70vh;
    
}
#contact h1 {
    text-decoration: underline;
}
.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }

  .contact-details {
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }

figcaption{
    font-size: 26px;
    border-style: solid;
    border-radius: 40px;
    padding: 5px;
    background-color: var(--greenish-blue);
}
h1 {
    font-size: 36px;
}

p {
    font-size: 26px;
}

#profile-link{
    color: var(--white);
    font-size: 26px;
    padding: 15px;
    border-style: solid;
    border-radius: 40px;
    background-color: var(--greenish-blue);
    margin: 10px;
}

footer{
    padding: 2rem;
    text-align: center;
    background-color: var(--smoke-blue);
    color: var(--greenish-blue);
    font-size: 15px;
}

ul {
    display: flex;
    list-style-type: none;
}

figure {
    margin: 2rem;
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

section .text {
    position: relative;
    font-size: 3.25em;
    color: white;
    letter-spacing: 2px;
  }
  
  section .text span {
    position: relative;
    display: inline-block;
    animation: animate 3s ease-in-out infinite;
  }
  