html{
    scroll-behavior: smooth;
    background-color: var(--off-white);
}

:root{
    --royal-blue: #00539CFF;
    --peach: #EEA47FFF;
    --cherry-red: #990011ff;
    --off-white: #FCF6F5FF;

}
* {
    margin: 50;
    padding: 40;
}

a {
    text-decoration: none;
    color: var(--peach);
}

#projects a{
    color: black;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--cherry-red);
}

.navList a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
}

.navList a:hover{
    background-color: var(--off-white);
}

#welcome-section{
    background-color: var(--peach);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcome-section h1 {
  font-size: 3rem;
  font-weight: 200;
  font-style: bold;

}
#welcome-section p {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    text-decoration: underline;
}

#projects{
    background-color: var(--royal-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 120vh;
    width: 100%;
}

#projects h1{
    text-decoration-line: underline;
    color: var(--off-white);
}

.project-tiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-details {
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
  }
  
  .project-details:hover {
    transform: translateY(8px);
  }

#contact{
    background-color: var(--peach);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    
}
#contact h1 {
    text-decoration: underline;
}
.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }

  .contact-details {
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }

figcaption{
    font-size: 26px;
    border-style: solid;
    border-radius: 40px;
    padding: 5px;
    background-color: var(--off-white);
}
h1 {
    font-size: 36px;
}

p {
    font-size: 26px;
}

#profile-link{
    color: var(--cherry-red);
    font-size: 26px;
    padding: 15px;
    border-style: solid;
    border-radius: 40px;
    background-color: var(--off-white);
    margin: 10px;
}

footer{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

ul {
    display: flex;
    list-style-type: none;
}

figure {
    margin: 2rem;
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}