* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: gold;
    font-size: xx-large;
    font-style: oblique;
}

body {
    background-image: url("/starWars/starWarsBackground.jpg")
}

.mainContainer {
    display: flex;
}

img {
    margin: 10rem;
    border: solid gold;
    border-radius: 4px;
}

.box  {
    background-color: lightblue;
    font-size: x-large;
    text-align: center;
}

.nav {
    min-width: 16rem;
}

ul {
    margin: 1rem;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: x-large;
}

a:hover {
    color: gold;
}


  /* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth28.cur), auto !important;} /* End https://www.cursors-4u.com */