* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: blue;
}




/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth28.cur), auto !important;} /* End https://www.cursors-4u.com */