@import url('https://fonts.googleapis.com/css/family=Roboto:300,400,500,700,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
body {
  background-image: url("/starWars/starWarsBackground.jpg")
}
section {
  position: relative;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  position: relative;
}

section .text {
  position: relative;
  font-size: 3.25em;
  color: white;
  letter-spacing: 2px;
}

section .text span {
  position: relative;
  display: inline-block;
  animation: animate 3s ease-in-out infinite;
}

.text {
  margin-top: 50px;
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-50px);
  }
  50%, 100% {
    transform: translateY(0px);
  }
}

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  figure {
    margin: .5rem;
  }
  
  figure img {
    max-height: 20rem;
  }

  img {
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
  }
  
  img:hover {
    transform: translateY(8px);
  }

  figcaption {
    color: whitesmoke;
    font-size: x-large;
    text-align: center;
    font-family: "Anton", sans-serif;
  }
  
  button:hover {
    box-shadow: inset 300px 0 0 0 skyblue;
    cursor: pointer;
    color: #000;
  }

  button {
    font-family: "Anton", sans-serif;
    width: 300px;
    padding: 10px;
    margin: 16px;
    height: 100px;
    border: none;
    border-radius: 4px;
    transition: ease-out 0.7s;
    font-size: 2rem;
    outline: none;
    border: 3px solid skyblue;
    background: gold;
  }

  button:before {
    transition: 0.5s all ease;
    opacity: 0;
    content: '';
  }
  /* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth28.cur), auto !important;} /* End https://www.cursors-4u.com */