@import url('https://fonts.googleapis.com/css/family=Roboto:300,400,500,700,900&display=swap')
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
body {
  background-image: url("/starWars/starWarsBackground.jpg")
}
section {
  position: relative;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  position: relative;
}

section .text {
  position: relative;
  font-size: 3.25em;
  color: white;
  letter-spacing: 2px;
}

section .text span {
  position: relative;
  display: inline-block;
  animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-50px);
  }
  50%, 100% {
    transform: translateY(0px);
  }
}

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  figure {
    margin: .5rem;
  }
  
  figure img {
    max-height: 20rem;
  }

  img {
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
  }
  
  img:hover {
    transform: translateY(8px);
  }

  figcaption {
    color: whitesmoke;
    font-size: x-large;
    text-align: center;
  }
  
  button {
    width: 10rem;
    height: 5rem;
    margin: 1rem;
    border: solid black;
    border-radius: 4px;
    background-color: gold;
    color: whitesmoke;
    font-size: x-large;
  }
  /* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth28.cur), auto !important;} /* End https://www.cursors-4u.com */