* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../images/patrioticBackground.jpg")
}

header {
    display: grid;
    justify-content: center;
    text-align: center;
    
}

button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 40px;
    border: 3px solid salmon;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0 15px;
}

button:hover {
    color: white;
    background-color: salmon;
}

header h1{
    border: solid black;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: salmon;
}

header h3 {
    border: solid black;
    border-radius: 4px;
    background: whitesmoke;
    padding: 10px;
}

header ul {
    border: solid black;
    border-radius: 4px;
    font-size: x-large;
    margin: 15px;
}

header li {
    background: lightblue;
    list-style-type: none;
    border-radius: 4px;
}

.congressDiv {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

figure {
    padding: 10px;
    margin: 10px;
    transition: transform 0.3s ease-out;
    justify-content: center;
    align-items: center;
    border: solid #333;
    background: #333;
}

figure:hover {
    transform: translateY(8px);
}

figcaption {
    text-align: center;
    background: white;
    justify-content: center;
    align-items: center;
    font-size: small;
    flex-wrap: wrap;
    font-weight: bold;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    color: gold;
}

.container {
    width: min(90%, 1000px);
    margin-inline: auto;
}

#background {
    background: #333;
    padding: max(3vh, 1rem) 1.5rem;
}